# generate your secret key with
# python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'

apiVersion: v1
kind: Secret
metadata:
  name: najemniski-sos-credentials
  labels:
    app.kubernetes.io/name: najemniski-sos-credentials
    app: najemniski-sos-credentials
stringData:
  DJANGO_SECRET_KEY: "thisshouldbesecret"
  DJANGO_DATABASE_HOST: "dbhost"
  DJANGO_DATABASE_PORT: "5432"
  DJANGO_DATABASE_NAME: "dbname"
  DJANGO_DATABASE_USERNAME: "dbuser"
  DJANGO_DATABASE_PASSWORD: "dbpassword"
  DJANGO_STATIC_ROOT: "/storage/static"
  DJANGO_STATIC_URL_BASE: "https://files.najemniski-sos.lb.djnd.si/static/"
  # S3 storage
  DJANGO_ENABLE_S3: "yes"
  DJANGO_AWS_ACCESS_KEY_ID: "<TODO>"
  DJANGO_AWS_SECRET_ACCESS_KEY: "<TODO>"
  DJANGO_AWS_STORAGE_BUCKET_NAME: "djnd"
  DJANGO_AWS_LOCATION: "najemniski-sos"
  PODPRI_SEND_EMAIL_TOKEN: "this-is-a-secret-needed-for-our-mailing-backend"
