volumes:
  postgres-data:

services:
  wagtail:
    build: ./stanovanja
    working_dir: /app
    command: ./manage.py runserver 0.0.0.0:8000
    volumes:
      - ./stanovanja:/app:delegated,rw
    ports:
      - "8000:8000"
    environment:
      PYTHONPATH: /app:$PYTHONPATH
      DB_HOST: db
      DB_NAME: najemniski_sos
      DB_USERNAME: najemniski_sos
      DB_PASSWORD: changeme
    depends_on:
      - db

  sass-compile:
    build: ./sass-compile
    working_dir: /app
    command: npm run watch
    volumes:
      - ./sass-compile/scss:/app/scss:delegated,rw
      - ./stanovanja/stanovanja/static:/app/static:delegated,rw
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: najemniski_sos
      POSTGRES_USER: najemniski_sos
      POSTGRES_PASSWORD: changeme
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: always
    expose:
      - "5432"
