{% load wagtailcore_tags wagtailimages_tags %}

<div class="image-section">
    <div class="row">
        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
            <h2>{{ value.title }}</h2>
            {{ value.description }}
            <div class="my-2">
                {% for button in value.buttons %}
                <div>
                    <a class="btn btn-{{ button.value.style }}" href="{% pageurl button.value.page %}">{{ button.value.text }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-lg-6">
            {% if value.display == 'image' %}
            <div class="">{% image value.image width-1100 class="img-fluid" %}</div>
            {% else %}
            <div id="mapid"></div>
            {% endif %}
        </div>
    </div>
</div>

<div id="rental-stories" class="position-absolute" style="opacity: 0; z-index: -1000;">{{ rental_stories_stringified }}</div>
