{% load wagtailcore_tags wagtailimages_tags %}

<div class="new-problem-form">
    <div class="row">
        <div class="col-lg-6">
            <div class="h-100 d-flex flex-column justify-content-center">
                <h2>{{ value.title }}</h2>
                {{ value.description }}
            </div>
        </div>
        <div class="col-lg-6">
            <form method="post" class="m-5">
                {% csrf_token %}
                <div class="my-3">
                    {{ user_problem_form.description }}
                </div>
                <div class="my-3">
                    {{ user_problem_form.email }}
                </div>
                <div class="checkbox-wrapper form-check">
                    {{ user_problem_form.contact_permission }}
                    <label class="form-check-label" for="{{ user_problem_form.contact_permission.auto_id }}">{{ value.checkbox_text }}</label>
                </div>
                <button type="submit" class="btn btn-normal mx-0">{{ value.submit_button }}</button>
            </form>
        </div>
    </div>
</div>
