{% load wagtailcore_tags wagtailimages_tags %}

<div class="hero-small position-relative">
    <div class="row">
        <div class="d-none d-xl-flex align-items-center col-xl-2">
            {% if value.image_left %}
            {% image value.image_left width-1100 class="img-fluid image-left" %}
            {% endif %}
        </div>
        <div class="col-12 col-xl-8">
            <h2 class="text-center mt-4 mb-2">{{ value.title }}</h2>
            <div class="text-center">{{ value.description }}</div>
            <div class="text-center">
                <button class="btn btn-normal" data-bs-toggle="modal" data-bs-target="#newStoryFormModal">
                    {{ value.submit_button }}
                </button>
            </div>
        </div>
        <div class="col-12 col-xl-2 d-flex justify-content-center">
            {% if value.image_right %}
            <div class="image-right my-2">{% image value.image_right width-1100 class="img-fluid image-right" %}</div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newStoryFormModal" tabindex="-1" aria-labelledby="newStoryFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="btn-close btn-background" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'></svg>
                </button>
            </div>
            <div class="modal-body container my-5">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <h2>{{ value.modal_title }}</h2>
                        {{ value.modal_description }}
                    </div>
                    <div class="col-lg-6">
                        <form method="post" class="row">
                            {% csrf_token %}
                            <div class="col-12">
                                <div class="form-group my-2">
                                    {{ rental_story_form.description }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group my-2">
                                    {{ rental_story_form.icon }}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group my-2">
                                    {{ rental_story_form.name }}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group my-2">
                                    {{ rental_story_form.email }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group my-2">
                                    {{ rental_story_form.address }}
                                </div>
                            </div>
                            <div class="col-12 my-2">
                                <div class="checkbox-wrapper form-check">
                                    <input type="checkbox" id="confirm-email" name="confirm-email" class="form-check-input">
                                    <label class="form-check-label" for="confirm-email">
                                        {{ value.modal_form_checkbox1 }}
                                    </label>
                                </div>
                                <div class="checkbox-wrapper form-check">
                                    {{ rental_story_form.private }}
                                    <label class="form-check-label" for="id_private">
                                        {{ value.modal_form_checkbox2 }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 button-group my-2">
                                <button class="btn btn-background my-2 mx-0" type="submit" style="padding-right:4rem;">
                                    {{ value.modal_form_button }}
                                    <img src="../static/icons/curved-arrow.svg" class="position-absolute" />
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
