{% load wagtailcore_tags wagtailimages_tags %}

<div class="newsletter position-relative">
  <div class="row">
    <div class="d-none d-xl-flex align-items-center col-xl-2">
      {% if value.image_left %}
      {% image value.image_left width-1100 class="img-fluid image-left" %}
      {% endif %}
    </div>
    <div class="col-12 col-xl-8">
      {% if value.title %}
      <h2 class="text-center my-4">{{ value.title }}</h2>
      {% endif %}
      <div class="text-center">{{ value.description }}</div>
      <div class="d-flex justify-content-center">
        <form class="my-4 w-100">
          <div class="input-group text-center">
            <input type="email" class="form-control" id="email-newsletter" name="email-newsletter" required>
            <button class="btn btn-normal" type="submit">{{ value.submit_button }}</button>
          </div>
          <div class="input-group mt-1">
            <div class="form-text" id="response"></div>
          </div>
          <div class="checkbox-wrapper form-check form-check-inline">
            <input type="checkbox" id="confirm-email" name="confirm-email" class="form-check-input" required>
            <label class="form-check-label" for="confirm-email">{{ value.checkbox_text }}</label>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-xl-2 d-flex flex-column flex-xl-row align-items-center">
      {% if value.image_right %}
      {% image value.image_right width-1100 class="img-fluid image-right mt-5 mt-xl-0" %}
      {% endif %}
    </div>
  </div>
</div>
