{% load static wagtailcore_tags wagtailimages_tags %}

<div class="share-and-care">
    <div class="row my-4">
        <div class="col-12 col-lg-6">
            <div class="box left-box position-relative">
                <div class="border-box"></div>
                <h2>{{ value.left_box.title }}</h2>
                {{ value.left_box.description }}
                <div class="d-flex justify-content-center">
                    <div class="social isfbbox btn btn-normal">
                        <img src="{% static 'icons/facebook.svg' %}" />
                    </div>
                    <div class="social istwbox btn btn-normal">
                        <img src="{% static 'icons/twitter.svg' %}" />
                    </div>
                    <div class="social isembox btn btn-normal">
                        <img src="{% static 'icons/email.svg' %}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="box right-box position-relative">
                <div class="border-box"></div>
                <h2>{{ value.right_box.title }}</h2>
                <p>{{ value.right_box.description }}</p>
                <div class="d-flex justify-content-center">
                    <a href="https://danesjenovdan.si/doniraj/placaj/enkrat" target="_blank" class="btn btn-normal">Doniraj <img src="{% static 'icons/heart.svg' %}" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
