{% load static wagtailcore_tags wagtailimages_tags %}

<div class="solutions-list">
    <form id="query-form" method="get" class="row m-4">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <h6>{{ value.filter_categories_label }}</h6>
            <div class="d-md-flex">
                {% for category in categories %}
                <div class="solutions-category mb-2 mb-md-0 me-md-2" style="background-color: {{ category.color }}">
                    <div class="form-check form-check-inline checkbox-wrapper">
                        <input type="checkbox" class="form-check-input" id="{{ category.slug }}" value="{{ category.id }}" name="category" onchange="filterCategory()" {% if category.id in chosen_categories %}checked{% endif %}>
                        <label class="form-check-label" for="{{ category.slug }}">{{ category.name }}</label>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-6">
            <h6>{{ value.search_input_label }}</h6>
            <div class="input-group">
                <input type="text" class="form-control" id="search-header" name="query" placeholder="{{ value.search_input_placeholder }}" value="{{ request.GET.query }}">
                <button class="btn btn-background" type="submit">
                    <img src="{% static 'icons/search.svg' %}" />
                </button>
            </div>
        </div>
    </form>
    <div class="row mt-5 mb-4">
        <div class="col-12">
            {% if not solutions %}
            <h6 class="text-center">{{ value.no_results }}</h6>
            {% endif %}
            {% for solution in solutions %}
            <a href="{{ solution.url }}" class="d-flex justify-content-between align-items-center text-decoration-none list-element py-2">
                <div>
                    {% if solution.category %}
                    <span style="background-color: {{ solution.category.color }}">{{ solution.category }}</span>
                    {% endif %}
                    <h4>{{ solution.title }}</h4>
                </div>
                <div>
                    <button title="Ti je odgovor pomagal? Pokaži nam s ploskom!" class="btn btn-clap py-1 px-2" value="{{ solution.id }}">
                        <img src="{% static 'icons/clap.svg' %}" />
                        <span>{{ solution.claps_no }}</span>
                    </button>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
