{% load wagtailcore_tags wagtailimages_tags %}

<div class="stories-list-section">
    <div class="row">
        <div class="col-lg-8">
            {% for story in rental_stories|slice:":3" %}
            <div class="list-element">
                <div>
                    <p>{{ story.description }}</p>
                </div>
                <div class="user d-flex align-items-center">
                    {% image story.icon width-1100 class="" %}
                    <span>{{ story.name }}, {{ story.address }}</span>
                </div>
                <div class="text-end">
                    <button class="btn">

                        <span>PREBERI VEČ</span>
                        <img src="../static/icons/arrow.svg" />
                    </button>
                </div>
            </div>
            {% endfor %}
            <button class="btn btn-background w-100 mx-0 my-4">
                {{ value.button_text }}
                <img src="../static/icons/curved-arrow.svg" />
            </button>
            {% for story in rental_stories|slice:"3:6" %}
            <div class="list-element">
                <div>
                    <p>{{ story.description }}</p>
                </div>
                <div class="user d-flex align-items-center">
                    {% image story.icon width-1100 class="" %}
                    <span>{{ story.name }}, {{ story.address }}</span>
                </div>
                <div class="text-end">
                    <button class="btn">
                        <span>PREBERI VEČ</span>
                        <img src="../static/icons/arrow.svg" />
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-4">
            #map
        </div>
    </div>
</div>
