{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

{% include "home/includes/header.html" %}

<div class="content">
    {% block page_body %}

    {% for block in page.body %}
    {% include_block block %}
    {% endfor %}

    {% endblock %}
</div>

<!-- places here (instead of base.html) because data comes from Page object -->
<div id="rental-stories" class="position-absolute" style="opacity: 0; z-index: -1000;">{{ rental_stories_stringified }}</div>

{% include "home/includes/footer.html" %}

{% endblock content %}
