{% extends "home/base_page.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}page page--content{% endblock %}

{% block page_body %}
<div class="bg-section bg-section--gradient_green_yellow">
  <section class="container">
    <div class="hero position-relative">
      <div class="row">
        <div class="col-12">
          <h1 class="my-4">{{ page.title }}</h1>
          <p>{{ page.description }}</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="bg-section">
  <section class="container">
    <div class="row newsletter-page">
      <div class="col-12 col-lg-8">
        {% for block in page.body %}
        <div class="row mb-5">
          {% include_block block %}
        </div>
        {% endfor %}

        <form id="newsletter-page-form" class="row mb-5">
          <div class="col unsubscribe" style="text-align: center;">
            <button disabled class="btn btn-background subscription">Nalagamo tvoje nastavitve ...</button>
          </div>
          <div class="col manage">
            <div class="footer-col">
              <h5>Nisi prijavljen_a na e-novičnik. Če želiš, se nanj lahko prijaviš spodaj.</h5>
              <div class="my-4">
                <div class="input-group text-center">
                  <input type="email" class="form-control" id="managed-email" name="email" required>
                  <button id="submit-managed-email" class="btn btn-background" type="button">Prijavi se</button>
                </div>
                <div class="checkbox-wrapper form-check form-check-inline">
                  <input type="checkbox" id="confirm-managed-email" name="confirm-managed-email" class="form-check-input" required>
                  <label class="form-check-label" for="confirm-managed-email">
                    Strinjam se, da mi občasno pošljete elektronsko sporočilo.
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-1">
            <div class="form-text" id="response"></div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

{% endblock %}

{% block extra_js %}
<script>
  // !!! DEPRECATED: NewsletterPage and old mautic are no longer in use

  $(document).ready(function() {
    const form = $("#newsletter-page-form");
    const emailElem = $("#managed-email");
    const submitButton = $('#submit-managed-email');
    const checkbox = $("#confirm-managed-email");
    const response = $("#response");

    // delete subscription
    $('.subscription').on('click', function() {
      const reqUrl = `https://podpri.djnd.si/api/segments/stanovanja-najemniski-sos/contact/?email=${urlParams.get('email')}&token=${urlParams.get('token')}`;
      fetch(reqUrl, {
        method: 'DELETE',
      }).then((response) => {
        return response.json();
      }).then((json) => {
        console.log(json);
        response.text("Odjava je bila uspešna.");
      });
    });

    // submit email and subscribe
    submitButton.on('click', function() {
      if ($('#confirm-managed-email').is(':checked')) {
        fetch("https://podpri.djnd.si/api/subscribe/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            email: $('#managed-email').val(),
            segment: 20,
          }),
        })
        .then((res) => {
          if (res.ok) {
            return res.text();
          }
          throw new Error("Response not ok");
        })
        .then((res) => {
          response.attr('class', 'form-text text-start');
          response.text("Hvala za prijavo!");
        })
        .catch((error) => {
          response.attr('class', 'form-text text-start text-error');
          response.text("Napaka pri prijavi :(");
        })
        .then(() => {
          submitButton.prop("disabled", false);
          emailElem.prop("disabled", false);
          checkbox.prop("disabled", false);
        });
      } else {
        response.attr('class', 'form-text text-start text-error');
        response.text("Prosimo označite, da se strinjate z občasnimi elektronskimi sporočili.");
      }
    });
    const urlParams = new URLSearchParams(document.location.search);
    if (urlParams.has('token') && urlParams.has('email')) {
      $('.manage').hide();
      const endpoint = `https://podpri.djnd.si/api/segments/my?token=${urlParams.get('token')}&email=${urlParams.get('email')}`;
      fetch(endpoint).then((response) => {
        return response.json();
      }).then((json) => {
        if (json.segments.filter((segment) => segment.id === 20).length > 0) {
          $('.subscription').text('Odjavi se od prejemanja e-novičnika');
          $('.subscription').prop("disabled", false);
        } else {
          $('.unsubscribe').hide();
          $('.manage').show();
          $('#managed-email').focus();
        }
      });
    } else {
      $('.unsubscribe').hide();
    }
  });
</script>
{% endblock %}
