{% extends "home/base_page.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}page page--content{% endblock %}

{% block page_body %}
<div class="bg-section bg-section--gradient_green_yellow">
  <section class="container">
    <div class="hero position-relative">
      <div class="row">
        <div class="col-12">
          <h1 class="my-4">{{ page.title }}</h1>
          <p>{{ page.description }}</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="bg-section">
  <section class="container">
    <div class="row newsletter-page">
      <div class="col-12 col-lg-8">
        {% for block in page.body %}
        <div class="row mb-5">
          {% include_block block %}
        </div>
        {% endfor %}

        <form id="newsletter-page-form" class="row mb-5">
          <div class="col unsubscribe" style="text-align: center;">
            <button disabled class="btn btn-background subscription">Nalagamo tvoje nastavitve ...</button>
          </div>
          <div class="col manage">
            <div class="footer-col">
              <h5>Nisi prijavljen_a na e-novičnik. Če želiš, se nanj lahko prijaviš spodaj.</h5>
              <div class="my-4">
                <div class="input-group text-center">
                  <input type="email" class="form-control" id="managed-email" name="email" required>
                  <button id="submit-managed-email" class="btn btn-background" type="button">Prijavi se</button>
                </div>
                <div class="checkbox-wrapper form-check form-check-inline">
                  <input type="checkbox" id="confirm-managed-email" name="confirm-managed-email" class="form-check-input" required>
                  <label class="form-check-label" for="confirm-managed-email">
                    Strinjam se, da mi občasno pošljete elektronsko sporočilo.
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-1">
            <div class="form-text" id="response"></div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}
