{% extends "home/base_page.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}page page--solution{% endblock %}

{% block page_body %}

<div class="hero bg-section bg-section--gradient_purple_green px-4 px-md-0">
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-9">
                <span class="supertitle" style="background-color: {{ page.category.color }}">{{ page.category }}</span>
                <h1 class="">{{ page.title }}</h1>
            </div>
        </div>
    </div>
    <hr />
</div>

<div class="bg-section px-4 px-md-0">
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-8 rich-text mb-5">
                {% for block in page.body %}
                    {% include_block block %}
                {% endfor %}
            </div>
            <div class="col-lg-4">
                <div class="clap-box">
                    <h4>Ti je rešitev pomagala? Pokaži nam.</h4>
                    <button class="btn btn-clap" value="{{ page.id }}" title="Ti je odgovor pomagal? Pokaži nam s ploskom!">
                        <img src="{% static 'icons/clap.svg' %}" />
                        <span>{{ page.claps_no }}</span>
                    </button>
                </div>
                {% if page.related_problems %}
                <div class="related-box">
                    <h4>Povezani problemi</h4>
                    {% for related in page.related_problems %}
                    <a href="{{ related.value.url }}" class="btn btn-fq position-relative h-100">
                        <div class="border-box"></div>
                        {{ related.value.title }}
                        <img src="{% static 'icons/curved-arrow.svg' %}" class="position-absolute" />
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <hr />
</div>

{% endblock %}
