// Set Bootstrap variables here.
// This file is included before Bootstrap is compiled.

$font-family-header: 'dystopian', sans-serif;
$font-family-text: 'neue-haas-grotesk-display', sans-serif;

$primary: #105099;

$border-radius: 0;

$hr-opacity: 1;
$hr-height: 2px;
