{% load static wagtailcore_tags %}

<footer>
    <div class="container">
        <div class="row my-4">
            <div class="col-12 col-lg-4 my-4">
                <div class="footer-col">
                    <div class="footer-navigation">
                        {% for footer_link in settings.home.MetaSettings.footer_links %}
                        <div class="mb-2 d-flex align-items-center hover-animation">
                            <a class=""
                               href="{% if footer_link.value.url %}{{ footer_link.value.url }}{% elif footer_link.value.page %}{% pageurl footer_link.value.page %}{% endif %}">
                                {% if footer_link.value.name %}
                                {{ footer_link.value.name }}
                                {% elif footer_link.value.page %}
                                {{ footer_link.value.page.title }}
                                {% endif %}
                            </a>
                            <span class="arrow-right animated"></span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 my-4">
                <div class="footer-col">
                    <h6>Sledi nam na <a href="{{ settings.home.MetaSettings.facebook }}" target="_blank" class="special-link">Facebooku</a> in <a href="{{ settings.home.MetaSettings.instagram }}" target="_blank" class="special-link">Instagramu</a>.</h6>
                </div>
            </div>
            <div class="col-12 col-lg-4 my-2 my-lg-4">
                <div class="footer-col">
                    <h6>Smo kaj pozabili?</h6>
                    <h6>Nam moraš kaj sporočiti?</h6>
                    <p class="m-0">Piši nam na <a href="mailto:{{ settings.home.MetaSettings.email }}" class="special-link">{{ settings.home.MetaSettings.email }}</a>.</p>
                </div>
            </div>
        </div>
        <hr class="m-0"/>
        <div class="row mt-3">
            <div class="col-lg-8">
                <div class="small-note align-content-center footer-col h-100">
                    Spletno mesto sta pripravila <a href="https://danesjenovdan.si/" target="_blank">Danes je nov dan</a> in <a
                        href="https://zadrugator.org/" target="_blank">Inštitut za študije stanovanj in prostora</a>.
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-note py-4 pe-0 d-flex align-items-center footer-col">
                    <span class="text-nowrap pe-4">Projekt podpira</span>
                    <a href="https://www.cnvos.si/impact4values/" target="_blank">
                        <img src="{% static 'img/impact4values.png' %}" class="img-fluid" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-lg-4 offset-lg-8">
                <div class="small-note footer-col pe-0 lh-1">
                    Financirano s strani Evropske unije. Izražena stališča in mnenja so zgolj stališča in mnenja avtorja(-ev) in ni nujno, da odražajo stališča in mnenja Evropske unije ali Evropske izvajalske agencije za izobraževanje in kulturo (EACEA). Zanje ne moreta biti odgovorna niti Evropska unija niti EACEA.
                </div>
            </div>
        </div>
    </div>

</footer>
