{% load static wagtailcore_tags %}

<footer>
    <div class="container">
        <div class="row my-4">
            <div class="col-12 col-lg-4 my-4">
                <div class="footer-col">
                    <div class="footer-navigation">
                        {% for footer_link in settings.home.MetaSettings.footer_links %}
                        <div class="mb-2 d-flex align-items-center hover-animation">
                            <a class=""
                               href="{% if footer_link.value.url %}{{ footer_link.value.url }}{% elif footer_link.value.page %}{% pageurl footer_link.value.page %}{% endif %}">
                                {% if footer_link.value.name %}
                                {{ footer_link.value.name }}
                                {% elif footer_link.value.page %}
                                {{ footer_link.value.page.title }}
                                {% endif %}
                            </a>
                            <span class="arrow-right animated"></span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 my-4">
                <div class="footer-col">
                    <h6>Sledi nam na <a href="{{ settings.home.MetaSettings.facebook }}" target="_blank" class="special-link">Facebooku</a> in <a href="{{ settings.home.MetaSettings.instagram }}" target="_blank" class="special-link">Instagramu</a>.</h6>
                </div>
            </div>
            <div class="col-12 col-lg-4 my-2 my-lg-4">
                <div class="footer-col">
                    <h6>Smo kaj pozabili?</h6>
                    <h6>Nam moraš kaj sporočiti?</h6>
                    <p class="m-0">Piši nam na <a href="mailto:{{ settings.home.MetaSettings.email }}" class="special-link">{{ settings.home.MetaSettings.email }}</a>.</p>
                </div>
            </div>
        </div>
        <hr class="m-0"/>
        <div class="row">
            <div class="col-lg-8 d-flex align-items-center" style="height: 108px;">
                    <div class="small-note my-4 footer-col">
                        Spletno mesto sta pripravila <a href="https://danesjenovdan.si/" target="_blank">Danes je nov dan</a> in <a
                            href="https://zadrugator.org/" target="_blank">Inštitut za študije stanovanj in prostora</a>.
                    </div>
            </div>
            <div class="col-lg-4">
                <div class="small-note py-4 pe-0 footer-col d-grid">
                    <div class="d-flex align-items-center">
                        <span style="white-space: nowrap;">Projekt podpira</span>
                    </div>
                    <a href="https://acfslovenia.si/" target="_blank">
                        <img src="{% static 'img/Active-citizens-fund.png' %}" class="img-fluid pb-3 pe-4 w-75" />
                    </a>
                    <span></span>
                    <a href="https://www.cnvos.si/impact4values/" target="_blank">
                        <img src="{% static 'img/impact4values.png' %}" class="img-fluid pt-3" />
                    </a>
                </div>
            </div>
        </div>
    </div>

</footer>
